<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Images</title>
   <link rel="stylesheet" href="css/style.css">
</head>
<body>
   <%- include("blocks/header") -%>
   <main>
      <h1>IMAGES PAGE</h1>
      <h3><em>Total file size: </em><span><%= sum %></span><em> kB</em></h3>
      <hr/>
      <br>
      <ol class="images-file-box">
         <% files.forEach(el => { %>
         <li class="images-file-row">
            <a href="/files/<%= el.name %>"><%= el.name %></a>
            <div>
               <span><%= el.size%></span><em> kB</em>
               <a href="/<%= el.name %>" class="delete">x</a>
            </div>
         </li>
         <% }) %>
      </ol>
   </main>
</body>
</html>